<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #89cff0"> 
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pl-" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <%= link_to "Página Principal", after_index_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
                <%= link_to "Mapa del Establecimiento", after_inmap_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
                <%= link_to "Contacto", after_contact_path, class: 'nav-link'%>
            </li>
        </ul>
    </div>
</nav>