<section class="container text-center my-5">
    <h2 class="display-3 font-weight-bold my-4">Descripción</h2>
    <p class="my-4">El after school Rafdela es un lugar de cuidado, actividades dinámicas, divertidas pero a la vez pedagogicas. En él, el niño tendrá un refrescante refrigerio después de un día lleno de esfuerzo mental en su colegio, donde no sólo podrá recrearse sino que también aprender. Nuestro deseo es que el niño se divierta a la vez que sigue aprendiendo habilidades sociales, físicas y de ingenio. En Rafdela te esperamos!</p>
    <div class="row ">
        <div class="col-md-4">
            <i class="fas fa-camera my-3 fa-3x my-3"></i>
            <h3 class="my-3">Calido</h3>
            <p class="my-3">En el after existe un ambiente calido, hogareño y cercano a los niños. De esta forma, se logra que el niño se sienta cómodo y agusto en el lugar. Consecuentemente, el niño muestra una actitud de participación activa y entusiasta.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-bullhorn my-3 fa-3x my-3"></i>
            <h3 class="my-3">Profesionales certificados</h3>
            <p class="my-3">En el lugar trabajan profesionales certificados, que trabajan con vocación y amor hacia el cuidado de niños. Motivados en dar el mejor servicio de entretención y aprendizaje para los niños.</p>
        </div>
        <div class="col-md-4">
            <i class="far fa-map my-3 fa-3x my-3"></i>
            <h3 class="my-3">Actividades dinamicas</h3>
            <p class="my-3">En el after contamos con diferentes tipos de actividades dinámicas enfocadas a las distintas habilidades que los niños deben desarrollar según su grupo etario.</p>
        </div>
    </div>
</section>

