<h1>Conoce nuestras instalaciones</h1>
<h1>Here is going to be the after-school map in the inside. </h1>
<p>Find me in app/views/pages/inmap.html.erb</p>


<div>   
<img src="assets/images/after_plano.jpg" alt="Plano del after-school">
</div>